*{box-sizing: border-box;
    font-family: "roboto", sans-serif;
} 

body {margin-left: 100px;
    margin-right: 100px;
background-color: black;}

header
{background-color: #1f2937;
   

/* padding-left: 70px;
padding-right: 70px; */


font-family: "roboto", sans-serif;
display: flex;  

margin: 0 auto;
justify-content: center; 
align-items: center;
 
/* padding: 0px 750px 0px 750px; */

}

.intro-text
{display: flex;
    flex-direction: column;
    font-family: "roboto", sans-serif; 
    width: 550px;
   
   }  


h1 {
    font-size: 60px;
    color: #f9faf8;
    font-weight:900;
     width:450px;
     margin-bottom: 20px;
     margin-top: 0px;
   
}   

h2 {
    font-size: 24px;
    color: #f9faf8;}

.intro-wrapper{
background-color: #1f2937;
margin: 0 auto;
padding:80px;
display: flex;
;

justify-content: center;


/* padding: 15px 120px 60px 120px; */
color: #1F2937;
}

.intro-text {
    /* padding: 15px 120px 60px 0px; */
   
    margin-right: 100px;
    /* height: 450px; */
    margin-top: 0px;
    margin-bottom: 0px;;
}



a {color: #e5e7eb;
font-size: 18px;
margin-left: 10px;
text-decoration: none;}


.intro-text {font-size: 24px;
    color: #e5e7eb;}

.intro-wrapper p{margin-bottom: 20px;}

button {
    width: 100px;
    padding: 8px 0;
    border-radius: 12px;
    border-style: none;
    color: #e5e7eb;
    font-weight: bold;
    background-color: #3882F6;
    font-size: 20px;
    border-radius: 12px;
}

p {margin: 0;}

.section-1 {
    background-color: #f9faf8;
    padding-top: 60px;
    padding-bottom: 60px;
}




figcaption
{width:200px;
margin: 0;}


.images-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    
}

h3 {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-size: 36px;
font-weight: 900;
margin-top: 35px;
margin-bottom: 35px;
}

figcaption {
    text-align: center;
}

.section-2 {
   background-color: #e5e7eb;
   padding-left: 450px;
   padding-right: 450px;
   padding-top: 140px;
   padding-bottom: 140px;
}

.quote {

    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    
}

.credit {
    font-weight: bold;
   text-align: right;
   padding-right: 40px;
   margin-top: 30px;
   font-size: 24px;
}

.cta-outer-wrapper{
    background-color: #f9faf8;;
    padding-top: 50px;
    padding-bottom: 50px;; 


}

.cta-wrapper
{display: flex;
justify-content: center;
background-color: #3882f6;
margin: 90px 250px;
padding-top: 50px;
padding-bottom: 50px;
border-radius: 12px;
color: #f9faf8;
}

.heading

{font-weight: bold;
font-size: 26px;}

.cta-text-wrapper 
{margin-right: 200px;}
/* padding-left: 150px;
padding-right: 150px;}  */

.btn-border {
    border: 2px solid white;
    padding-left:20px;
    padding-right: 20px;
    width: 150px;
}

footer
{color: #f9faf8;
font-size: 20px;
margin: 0 auto;
background-color: red;
/* width: 500px; */
text-align: center;
padding-top: 40px;
padding-bottom: 40px;
background-color: #1f2937;}

.logo-wrapper

{margin-right: 560px;}

img { border-radius: 12px;}